{% extends "defindex.html" %}
{% block tables %}
  <p><strong>Parts of the documentation:</strong></p>
  <table class="contentstable" align="center"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="numpy/reference/">Numpy Reference</a><br/>
         <span class="linkdescr">reference documentation for Numpy</span></p>
      <p class="biglink"><a class="biglink" href="http://www.tramy.us/numpybook.pdf">Guide to Numpy</a><br/>
         <span class="linkdescr">book describing Numpy, by Travis Oliphant</span></p>
    </td><td width="50%">
      <p class="biglink"><a class="biglink" href="http://www.scipy.org/Documentation">SciPy.org</a><br/>
         <span class="linkdescr">more documentation on the scipy.org website</span></p>
    </td></tr>
  </table>

  <p><strong>Work in progress:</strong></p>
  <table class="contentstable" align="center"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="numpy/user/">Numpy User Guide</a><br/>
         <span class="linkdescr">user guide for Numpy</span></p>
    </td><td width="50%">
      <p class="biglink"><a class="biglink" href="scipy/reference/">Scipy Reference Guide</a><br/>
         <span class="linkdescr">reference documentation for Scipy</span></p>
    </td></tr>
  </table>

  <p><strong>Participate:</strong></p>
  <table class="contentstable" align="center"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="http://www.scipy.org/BugReport">Reporting bugs</a><br/>
         <span class="linkdescr">reporting defects in Numpy and Scipy</span></p>
      <p class="biglink"><a class="biglink" href="http://www.scipy.org/Developer_Zone">Developer Zone</a><br/>
         <span class="linkdescr">information about Numpy and Scipy development</span></p>
    </td><td width="50%">
      <p class="biglink"><a class="biglink" href="http://docs.scipy.org/numpy/">Numpy Documentation Marathon</a><br/>
         <span class="linkdescr">improve this documentation</span></p>
    </td></tr>
  </table>

{% endblock %}

{% block sidebarsearch %}
{% endblock %}
